$border-color: #ddd;
$grid-size: 10px;

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

*, *:before, *:after {
    box-sizing: border-box;
}

#city-grid {
	position: relative;
	display: block;

	#route {
		@include clearfix;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;

		.line {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			margin-top: 50%;
			margin-left: 50%;
			background: blue;
		}
	}
	#santa, #hq {
	    position: absolute;
	    top: 0;
	    left: 0;
		margin-top: 50%;
		margin-left: 50%;
	    z-index: 20;
	}
	#axis {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 2;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #999;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 1px;
			height: 100%;
			background-color: #999;
		}
	}
	#grids {
		position: absolute;
		top: 0;
		letter-spacing: 0;
		width: 100%;
		height: 100%;
		z-index: 0;

		#rows {
			.block {
				left: 0;
				width: 100%;
			}
		}
		#cols {
			@include clearfix;

			.block {
				top: 0;
				height: 100%;
			}
		}
	}
	.block {
		position: absolute;
	}
}
#santa {
	position: relative;
	display: block;
    width: $grid-size;
    height: $grid-size;

    &:before {
    	content: "";
		position: absolute;
	    left: 2px;
	    top: 0;
	    width: 0;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-bottom: 5px solid red;
    }
    &:after {
	    content: "";
	    position: absolute;
	    left: 2px;
	    top: 5px;
	    width: 6px;
	    height: 5px;
	    background: red;
	    border-radius: 0 0 6px 6px;
    }
    &.north {
	    &:before,
	    &:after {
			transform: translate(-5px, -5px);
	    }
    }
    &.east {
	    &:before,
	    &:after {
			transform: translate(-5px, 5px);
	    }
    }
    &.south {
	    &:before,
	    &:after {
			transform: translate(5px, 5px);
	    }
    }
    &.west {
	    &:before,
	    &:after {
			transform: translate(5px, -5px);
	    }
    }
}
#hq {
	position: relative;
	display: block;
	width: $grid-size;
	height: $grid-size;

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid green;
		border-radius: 50%;
		transform: translate(-4.5px, -4.5px);
	}
}
.block {
	display: block;
	width: $grid-size;
	height: $grid-size;
	border: 1px solid $border-color;
}